{extend name="/layout" /}
{block name="title"}支付配置 - AI-CMS{/block}
{block name="content"}
<div class="container-fluid py-4">
    <h4 class="mb-4">支付配置</h4>
    <div class="card">
        <div class="card-body">
            <form id="configForm">
                <h6 class="border-bottom pb-2 mb-3"><i class="bi bi-wechat"></i> 微信支付配置</h6>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">启用微信支付</label>
                    <div class="col-sm-9">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="wechat_enabled" value="1" id="swWechatEnabled" {if $config.wechat_enabled==1}checked{/if}>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">商户号(MchID)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="wechat_mch_id" value="{$config.wechat_mch_id|default=''}" placeholder="微信支付商户号">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">AppID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="wechat_app_id" value="{$config.wechat_app_id|default=''}" placeholder="关联的公众号/小程序AppID">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">商户API证书序列号</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="wechat_mch_serial" value="{$config.wechat_mch_serial|default=''}" placeholder="商户API证书序列号">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">APIv3密钥</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="wechat_api_key_v3" value="{$config.wechat_api_key_v3|default=''}" placeholder="APIv3密钥">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">回调通知URL</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="wechat_notify_url" value="{$config.wechat_notify_url|default=''}" placeholder="https://yourdomain.com/api/payment/wechat/notify">
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i> 保存配置</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="js"}
{/block}
{block name="js"}
<script>
$('#configForm').on('submit', function(e) {
    e.preventDefault();
    var data = $(this).serialize();
    $.post('/admin/payment/config', data, function(res) {
        alert(res.msg);
    });
});
</script>
{/block}
